In [1]:
import pandas as pd

In [2]:
df_master = pd.read_csv('data/Master.csv')

In [3]:
df_master.head()

,playerID,coachID,hofID,firstName,lastName,nameNote,nameGiven,nameNick,height,weight,...,birthDay,birthCountry,birthState,birthCity,deathYear,deathMon,deathDay,deathCountry,deathState,deathCity
0,aaltoan01,NaN,NaN,Antti,Aalto,NaN,Antti,NaN,73.0,210.0,...,4.0,Finland,NaN,Lappeenranta,NaN,NaN,NaN,NaN,NaN,NaN
1,abbeybr01,NaN,NaN,Bruce,Abbey,NaN,Bruce,NaN,73.0,185.0,...,18.0,Canada,ON,Toronto,NaN,NaN,NaN,NaN,NaN,NaN
2,abbotge01,NaN,NaN,George,Abbott,NaN,George Henry,Preacher,67.0,153.0,...,3.0,Canada,ON,Synenham,NaN,NaN,NaN,NaN,NaN,NaN
3,abbotre01,NaN,NaN,Reg,Abbott,NaN,Reginald Stewart,NaN,71.0,164.0,...,4.0,Canada,MB,Winnipeg,NaN,NaN,NaN,NaN,NaN,NaN
4,abdelju01,NaN,NaN,Justin,Abdelkader,NaN,NaN,NaN,73.0,195.0,...,25.0,USA,MI,Muskegon,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df_master.shape

(7761, 31)

In [5]:
df_master.columns

Index(['playerID', 'coachID', 'hofID', 'firstName', 'lastName', 'nameNote',
       'nameGiven', 'nameNick', 'height', 'weight', 'shootCatch', 'legendsID',
       'ihdbID', 'hrefID', 'firstNHL', 'lastNHL', 'firstWHA', 'lastWHA', 'pos',
       'birthYear', 'birthMon', 'birthDay', 'birthCountry', 'birthState',
       'birthCity', 'deathYear', 'deathMon', 'deathDay', 'deathCountry',
       'deathState', 'deathCity'],
      dtype='object')

In [6]:
df_master['playerID'].isnull().value_counts()

False    7520
True      241
Name: playerID, dtype: int64

In [7]:
df_master = df_master.dropna(subset = ['playerID'])

In [8]:
df_master['playerID'].isnull().value_counts()

False    7520
Name: playerID, dtype: int64

In [9]:
# drop the columns that have no data for NHL years
df_master = df_master.dropna(subset = ['firstNHL', 'lastNHL'], how = 'all')
df_master = df_master.loc[df_master['lastNHL'] >= 1980]

In [10]:
# columns, which I use to analysis (^birth - start with birth; Name$ ends with Name)
df_master = df_master.filter(regex = 'playerID|pos|^birth|(Name$)')

In [13]:
# DIY function section

# reduce memory usage
def redu_mem(df):
    print("{0:.2f} MiB".format(
        df.memory_usage().sum() / (1024 * 1024)
    ))

# make categorial variable
def make_categorical(df, column):
    df.loc[:, column] = pd.Categorical(df[column])

In [14]:
make_categorical(df_master, "pos")
make_categorical(df_master, "birthCountry")
make_categorical(df_master, "birthState")

redu_mem(df_master)

0.26 MiB

In [15]:
# change index in dataframe
df_master = df_master.set_index('playerID')

In [16]:
df_master.to_pickle('pickle/master.pickle')