In [1]:
import pandas as pd

In [2]:
df_teams = pd.read_csv('data/Teams.csv')

In [3]:
df_teams.head()

,year,lgID,tmID,franchID,confID,divID,rank,playoff,G,W,...,GA,name,PIM,BenchMinor,PPG,PPC,SHA,PKG,PKC,SHF
0,1909,NHA,COB,BKN,NaN,NaN,4,NaN,12,4,...,104,Cobalt Silver Kings,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1909,NHA,HAI,MTL,NaN,NaN,5,NaN,12,4,...,83,Haileybury Hockey Club,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1909,NHA,LES,TBS,NaN,NaN,7,NaN,12,2,...,100,Les Canadiens,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1909,NHA,MOS,MOS,NaN,NaN,6,NaN,12,3,...,95,Montreal Shamrocks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1909,NHA,MOW,MTW,NaN,NaN,1,NaN,12,11,...,41,Montreal Wanderers,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df_teams.shape

(1519, 27)

In [5]:
df_teams.columns

Index(['year', 'lgID', 'tmID', 'franchID', 'confID', 'divID', 'rank',
       'playoff', 'G', 'W', 'L', 'T', 'OTL', 'Pts', 'SoW', 'SoL', 'GF', 'GA',
       'name', 'PIM', 'BenchMinor', 'PPG', 'PPC', 'SHA', 'PKG', 'PKC', 'SHF'],
      dtype='object')

In [6]:
df_teams = df_teams[(df_teams['lgID'] == 'NHL') & (df_teams['year'] >= 1980)]

In [9]:
columns = ['year', 'tmID', 'name']
df_teams = df_teams.filter(columns)
df_teams.head()

     year tmID                 name
727  1980  BOS        Boston Bruins
728  1980  BUF       Buffalo Sabres
729  1980  CAL       Calgary Flames
730  1980  CHI  Chicago Black Hawks
731  1980  COR     Colorado Rockies

In [10]:
df_teams.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5 entries, 727 to 731
Data columns (total 3 columns):
year    5 non-null int64
tmID    5 non-null object
name    5 non-null object
dtypes: int64(1), object(2)
memory usage: 160.0+ bytes

In [11]:
df_teams.nunique()

year    1
tmID    5
name    5
dtype: int64

In [12]:
df_teams.loc[:, 'tmID'] = pd.Categorical(df_teams['tmID'])

In [13]:
df_teams.to_pickle('pickle/teams.pickle')